* {
font-family:Roboto
}

.header-container{
    display:flex;
}

.hero-image{
    width: 100%;            
    height: auto;          
    max-width: 400px;      
    max-height: 300px;     
    border-radius:10px;
}

button {
    max-width:100px;
}

.hero-container{
    display:flex;
    gap:20px;
    align-items: flex-start; 
    padding: 40px 0px 40px 0px;
}

html, body {
    margin: 0;
    padding: 0;
}

.hero-container div {
    flex:1;
}

.hero-content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 

}

.hero-main-text, .hero-secondary-text, .call-to-action {
    margin: 0;        
    padding: 0;              
}

.hero-banner {
    background-color:#1F2937;
}

.hero-banner-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
}

.top-pigeons{
    background-color white;
}

.top-pigeons-content{
    color:#1F2937;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    
}

.quote {
    background-color:#E5E7EB;
}

.quote-content {
    color:#1F2937;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.quote-message{
    font-weight:300;
    font-size:36px;
    font-style:italic;
    margin-bottom:0px;
}

.quote-author{
    font-weight:bold;
    align-self:flex-end;
    margin-top: 0px;
}

.top-pigeons-header {
    color:#1F2937;
    font-weight:900;
    font-size:36px;
    text-align:center;
}

.top-pigeon-images{
    width: 100%;            
    height: auto;          
    max-width: 200px;      
    max-height: 200px;     
    border-radius:10px;
    border-style:solid;
    border-color:#3882F6;
}

.call-to-action {
    background-color: white;
    padding: 100px 0px; 
}

.call-to-action-content {
    background-color: #3882F6;
    border-width:0;
    color: white;    
    border: none;     
    border-radius: 10px;   
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-button{
    background-color: #3882F6;
    border-width:0;
    color: white;
    font-weight:700;
    padding: 10px 20px;      
    border-color: white;
    border-width: 1px;    
    border-style:solid; 
    border-radius: 10px;  
    cursor:pointer;
}

.call-to-action-header{
    font-weight:700; 
    font-size:24px;
    margin-bottom:5px;
}

.top-pigeon-profiles {
display:flex;
gap:50px;
align-items: center;
justify-content: center;
text-align: center;
}

.call-to-action-secondary-text{
    font-size:16px;
    margin-top: 0px;
}

.hero-logo{
    color:#F9FAF8;
    font-size:24px; 
    font-weight:900;
    margin-top: 0px;
}

.hero-secondary-text, .header-links{
    color:#E5E7EB;
    font-size:18px;
}

.hero-main-text{
    color:#F9FAF8;
    font-weight:900;
    font-size:48px;
}

.header-links{
    flex:1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}